<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026952692802-nc59a4rckognh27gk1mu3gqnpl1c415v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026952692802-nc59a4rckognh27gk1mu3gqnpl1c415v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>152143122101-h8r848o8lrgt3mm0jb1coitd3bdup5qf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvANNDKUBA81c4654DkHuwaiuYhK4Pcqw</string>
	<key>GCM_SENDER_ID</key>
	<string>1026952692802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glinkvn.gcare.uat</string>
	<key>PROJECT_ID</key>
	<string>suns-clinic-902dd</string>
	<key>STORAGE_BUCKET</key>
	<string>suns-clinic-902dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026952692802:ios:57d1fa4578a60a98b259db</string>
</dict>
</plist>